# Adds namespace to all resources.
namespace: OPENSHIFT-NAMESPACE

resources:
  - resources/ca_configmap.yaml
  - ../../../../../config/base/crd
  - ../../../../../config/base/rbac
  - ../../../../../config/base/manager

patches:
  - target:
      kind: Deployment
      name: controller-manager
    path: patches/manager_deployment_ca.yaml
